{#
/**
 * @file
 * Template for contact page emails.
 *
 * Variables:
 * - email_body: Email body content.
 * - params: Array of parameters that can be used to replace values in template
 *   text.
 *
 * @see template_preprocess_email()
 *
 * @ingroup themeable
 */
#}

<p>{% trans %}You need to take action to secure your server {{ site_name }}.{% endtrans %}</p>
<ul>
{% for message in messages %}
  <li>{{ message }}</li>
{% endfor %}
</ul>

<p>{% trans %}See the <a href="{{ update_status }}">available updates</a> page for more information.{% endtrans %}
{% if update_manager %}
  {% trans %}You can automatically install your updates using the <a href="{{ update_manager }}">Update manager</a>.{% endtrans %}
{% endif %}
 {% trans %}You can <a href="{{ update_settings }}">change your settings</a> for what update notifications you receive.{% endtrans %}</p>
